body {
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}


.container {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    width: 350px;
    text-align: center;
}

h2 {
    margin-bottom: 25px;
    color: #333333;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 12px 15px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
    font-size: 14px;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #489f; /* green */
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

button:hover {
    background-color: #489f;
}

.link {
    margin-top: 15px;
}

.link a {
    color: #489f;
    text-decoration: none;
    font-size: 14px;
}

.link a:hover {
    text-decoration: underline;
}

/* Add this to your <style> section */
.btn-logout {
  background-color: #ff4d4f; /* Red background */
  color: #fff;               /* White text */
  text-align: center;
  text-decoration: none;
  display: block;
  margin-top: 10px;
}
.btn-logout:hover {
  background-color: #d9363e; /* Darker red on hover */
}